<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Logger.Core" version="3.0.0" targetFramework="net45" />
  <package id="AWS.Logger.Log4net" version="3.2.1" targetFramework="net45" />
  <package id="AWSSDK.CloudWatchLogs" version="3.7.305.8" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.7.303.7" targetFramework="net45" />
  <package id="log4net" version="2.0.12" targetFramework="net45" />
  <package id="Polly" version="5.9.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="5.0.2" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="5.0.2" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.0.2" targetFramework="net45" />
</packages>